* {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* navigation ber styles */


nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    gap: 30px;
    margin-left: 24px;

}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

nav button {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 196px;
    height: 42px;
    flex-shrink: 0;
    padding: 13px 18px;
    color: #3C354F;
    text-align: center;
    font-size: .85rem;
    font-weight: 500;
}

nav span {
    color: #FF42A5;
}

.logo {
    display: flex;
}

.logo img {
    max-height: 25px;
    margin-right: 15px;
}

/* banner section design  */
.banner {
    background-color: #FFF;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    padding-top: 148px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-content h2 {
    color: #0B0223;
    font-size: 2.25;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-content h1 {
    margin-bottom: 18px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    margin-bottom: 13px;
    color: #534C64;
    font-size: .935rem;
    font-weight: 500;
}

.banner-content button , .gamer-content button {
    border-radius: 48px;
    padding: 16px 30px;
    margin-top: 20px;
    color: #FFF;
    font-size: .937rem;
    font-weight: 600;
    border: 0;
    margin-right: 18px;
}

.btn-1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.btn-2 {
    background: #4EC5F7;
}

.banner-img img {
    /* max-width: 534px; */
    align-items: end;
    max-height: 510px;
}
/* main section */
/* we are gamer section */
.we-are-gamer{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}
.gamer-img img{
    max-width: 650px;
}
.we-are-gamer{
    text-align: right;
    margin-top: 70px;
}
.gamer-content h2{
    
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-content p{
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 18px;
    margin-bottom: 24px;
}
.gamer-content h3{
    margin-top: 20px;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.gamer-content h3 span{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}


/* online games part design */
.online {
    margin: 0px 100px;
}

.online-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    text-align: center;
}

.online-content h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-content p {
    color: #534C64;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 36px;
}

.online-img {

    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.online-img img {
    max-width: 256px;
    border: 0;
}

.online-img figcaption {
    margin-top: 5px;
    margin-bottom: 90px;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    /* 150% */
}


/* hover image part  */

.img-container {
    position: relative;
    display: inline-block;
}

.img-container:hover img {
    filter: blur(5px);
}

.img-container .watch-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0s ease;
    z-index: 1;
    align-items: center;
    text-align: center;
    color: white;
}

.watch-icon i {
    font-size: 3rem;
    color: white;
}

.img-container:hover .watch-icon {
    opacity: 1;
}


/* play game section */
.play-game{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    margin-top: 90px;
}
.play-game .game-content{
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
    background-color: #FFF;
    text-align: center;
}
.game-content h2{
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 40px; /* 125% */
}
.game-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-content p{
    text-align: right;
    color: #534C64;
    font-size: .9rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.game-img .img1{
    max-width: 470px;
    max-height: 490px;
   /* position: relative;
   z-index: 1; */
   position: relative;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
}
.game-img .img2{
    max-width: 238px;
    max-height: 274px;
   /* position: relative;
   top: 40px;
   left: 150px;
   z-index: 2; */
   position: relative;
   bottom: 200px;
   right: 100px;
   z-index: 2;
   width: 100%;
}



/* games section */
.games{
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 50px;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    justify-self: auto;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.box p{
    color: #0B0223;
    font-size: .75rem;
    font-weight: 600;
    padding-left: 0px;
    text-align: left;
    width: 100%;
}
.box {
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.box img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px;
}


.box:hover {
    border: 2px solid #333;
    border-radius: 50px;
}

.box:hover p {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}







/* footer section design  */
footer {
    background: #0B0223;
    color: #FFF;
    padding-top: 90px;
    width: 100%;
}

.foot-logo {
    display: flex;

}

.foot-logo img {
    max-height: 25px;
    margin-right: 15px;
    margin-left: auto;
}

.foot-logo h2 {
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

footer span {
    color: #F948B2;
}

footer ul {
    display:flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.footer-list{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}
.terms{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
footer ul li {
    list-style: none;
    justify-content: center;
    align-items: center;
}

.footer-list>li>a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.midea-icon {
    margin: 0 550px;
}

.midea-icon i {
    gap: 40px;
    font-size: 1.8rem;
}

.terms {
    margin-top: 0px;
}

.copy {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 100px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}









@media screen and (max-width: 576px) {
    
}